$white: #fff;
$black: #191c1f;
$gray: #dbdbdb;
$dark-gray: #5e6263;
$light-gray: #f3f4f5;
$skeleton-gray: #f2f2f2;
$btn-gray: #e0e0e0;
$light-blue: #eaf6ff;
$orange: #ec7f07;
$light-orange: #ec7f07cc;
$pale-orange: #ec7f071a;
